
<footer>
  <div class="footer-container">
    <p class="copyright">Copyright 2023 [Your Name]. All rights reserved.</p>
    <ul class="social-media">
      <li><a href="https://www.linkedin.com/in/[your-linkedin-username]">LinkedIn</a></li>
      <li><a href="https://github.com/[your-github-username]">GitHub</a></li>
      <li><a href="https://twitter.com/[your-twitter-username]">Twitter</a></li>
    </ul>
    <ul class="contact">
      <li><a href="mailto:[your-email-address]">Email : guddukumaryadav10101@gmail.com</a></li>
      <li><a href="tel:[your-phone-number]">Phone Number : 9508499022</a></li>
    </ul>
    <ul class="resume">
      <li><a href="/resume.pdf">Resume</a></li>
    </ul>
    <ul class="sitemap">
      <li><a href="/sitemap">Site Map</a></li>
    </ul>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>